.row{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .row > button {
   flex-basis: 30%;
   text-align: center;
   font-size: 24px;
  }
  .left {
     margin-right: 105px; 
    margin-left: 105px;
  }
  .right {
    margin-right: 105px;
    margin-left: 205px;
  }
  .tile {
    margin-top: 50px;
    background-color: rgb(232, 239, 241);
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
  }

  .dropDown {
    margin-top: 100px;
    background-color: bisque;
  }

  .submit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selectMonth {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
  }

  .month {
    margin-top: 80px;
  }

  .hidden { display:none; }
